
.header{
display:flex;
justify-content:right;
align-items:center;
background-color:black;
}
h2{
color:Green;
font-size:40px;
}
h3{
color:violet;
font-size:30px;
}
h4{
color:orange;
font-size:30px;
}
a{
color:violet;
}
li{
color:blue;
font-style:italic;
font-size:40px;
}

font{
font-size:30px;
font-weight:bold;
font-style:italic;
color:red;
}
.containers{
position: relative;
justify-content:right;
display:flex;
}
.content{
position: absolute; /* Position the content absolutely */
top: 200px;
}
.home{
height:100%;
width:100%;
background-color:black;
text-align:center;
}
.about{
height:100%;
width:100%;
text-align:center;
background-color:black;
}
.education{
height:100%;
width:100%;
text-align:center;
background-color:black;
}
.skills{
height:100%;
width:100%;
text-align:center;
background-color:black;
}
.contact{
height:100%;
width:100%;
background-color:black;
}
#Image{
height:300px;
width:300px;
object-fit:cover;
border:2px solid black;
border-radius:50%;
}
#ug{
border-radius:50%;
}
#linkedin{
height:50px;
width:50px;
border-radius:50%;
}
footer{
height:30px;
text-align:center;
background-color:brown;
font-size:20px;
font-style:italic;
}
#x{
height:50px;
width:50px;
border-radius:50%;
}
#mail{
height:50px;
width:50px;
border-radius:50%;
}
.inner{
height:20px;
width:100px;
background-color:brown;
}
.header.inner{
background-color:brown;
}
p{
color:orange;
color:yellow;
font-size:30px;
}
.position{
display:inline-block;
text-align:left;
}
